<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to MoviesController.create or MoviesController.update,
     depending on whether we are creating or editing a movie -->
<form th:action="@{ ${movie != null} ? '/movies/' + ${movie.id} : '/movies' }"
      method="post">
    <div>
        <!--        name, description, rating, genre, director-->
        <label for="name">Name</label>
        <input type="text"
               id="name"
               name="name"
               th:value="${movie?.getName()}"
               required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text"
               id="description"
               name="description"
               th:value="${movie?.getDescription()}"
               required>
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="text"
               id="rating"
               name="rating"
               th:value="${movie?.getRating()}"
               required>
    </div>
    <div>
        <label>Genre</label><br/>
        <select id="genre" name="genre" multiple="multiple" size="5">
            <option th:each="g : ${genres}"
                    th:value="${g.name()}"
                    th:text="${g.name()}"
                    th:selected="${movie?.getGenre()?.equals(g)}"
            > [genre.name]
            </option>
        </select>
    </div>
    <div>
        <label>Director</label><br/>
        <select id="director" name="director" multiple="multiple" size="5">
            <option th:each="d : ${directors}"
                    th:value="${d.getId()}"
                    th:text="${d.getName()}"
                    th:selected="${movie?.getDirector()?.equals(d)}"
            > [director.name]
            </option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/movies" type="button" class="btn btn-primary">Back to movies</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
