<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <form id="filter-form" action="/" method="get">
        <label for="f1">Age</label>
        <input id="f1" name="age" type="number"/>
        <label for="f2">Interest</label>
        <select id="f2" name="interestId">
            <option value="">All</option>
            <option th:each="interest: ${interests}"
                    th:value="${interest.getId()}"
                    th:text="${interest.getName()}"
            > [interest]
            </option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- ForumUsersController.showAdd (Only ADMIN can see this element)-->
        <th:block sec:authorize="hasRole('ADMIN')">
            <a href="/users/add" class="add-item">
                Add
            </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Interests</th>
            <th>Actions</th>
        </tr>
        <tr class="item" th:each="user: ${users}">
            <td th:text="${user.getName()}">[user.name]</td>
            <td th:text="${user.getEmail()}">[user.email]</td>
            <td th:text="${user.getType()}">[user.type]</td>
            <td th:each="interest : ${user.getInterests()}">
                <span class="item-rel" th:text="${interest.getName()}"> [interest.name]</span>
            </td>
            <td>
                <!-- ForumUsersController.delete (Only ADMIN can see this element)-->
                <th:block sec:authorize="hasRole('ADMIN')">
                    <form th:action="@{'/users/{id}/delete' (id=${user.getId()})}" method="post">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                </th:block>
                <!-- ForumUsersController.showEdit (Only ADMIN can see this element)-->
                <th:block sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{'/users/{id}/edit' (id=${user.getId()})}" class="edit-item">Edit</a>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
